@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
/* .apexcharts-bar-area,
.apexcharts-pie-area.apexcharts-donut-slice-1{
fill:#5932EA;
}
.apexcharts-pie-area.apexcharts-donut-slice-0{
  fill:#16C098;
} */
.apexcharts-bar-area{
  clip-path: inset(0% 0% 0% 0% round 8px);
  /* clip-path: inset(0% 0% -4px 0% round 10px);  */
}